# Ignore everything
*

# Don't ignore git settings
!*.gitignore
!*.gitattributes

# Don't ignore special files
!*.md
!*.rst
!CHANGELOG.txt

# Don't ignore subdirectories
!*/

# But definitely ignore these subdirectories
data/
figures/
python/pip/
testing/

# Don't ignore python
!*.py

# Don't ignore C++
!*.cpp
!*.h

# Don't ignore scripts
!*.sh

# Don't ignore config files
!*.cfg
