#=======================================================================
########## SOME PARAMETERS TO DEAL WITH amoreSRS run

### How long amoreSRS wait (in second) between 2 monitoring cycles
CYCLEWAIT 2
### Start analysis at Event number STARTEVENTNUMBER
STARTEVENTNUMBER  0
### analyse only events with EvtNb module EVENTFREQUENCYNUMBER == 0
EVENTFREQUENCYNUMBER 1
#=======================================================================

######## CLUSTERIZATION PARAMETERS
ZEROSUPCUT   10
MINCLUSTSIZE 1
MAXCLUSTSIZE 20
MAXCLUSTMULT 20
#===============================================================================================================
#===============================================================================================================
### CLUSTER_ADCS   keyword for the ADC information at the cluster level (collection of hits) used during the analysis
### maximumADCs == ADC of the strip/hit with the maximum charge in the cluster
### totalADCs == sum of the ADCs of all the strips/hits in the cluster
CLUSTER_ADCS  totalADCs
#===============================================================================================================
#===============================================================================================================
### HIT_ADCS: keyword for the ADC information at the hit level (individual strip) used during the analysis
### IntegratedADCs == sum of the ADC all the time sample (bin/slice) of the apv signal of the strip (hit)
### SignalPeak == only the time sample (bin/slice) with the highest ADC is used for the analysis 
HIT_ADCS signalPeak
#===============================================================================================================
#===============================================================================================================
### ROOTDATATYPE: keyword for the type of data in the output root tree file
### HITS_ONLY: root tree contains only hit information: strip No, ADCs, time bin of the peak ...
### CLUSTER_ONLY: root tree contains only cluster information: hit position, cluster ADCs, time bin ...
### HITS_AND_CLUSTERS: (or nothing) output both cluster and hit information

#ROOTDATATYPE  HITS_ONLY
#ROOTDATATYPE  CLUSTERS_ONLY
ROOTDATATYPE HITS_AND_CLUSTERS

MAPFILE        Mapping_GE11-VII-L.cfg

################ RUNTYPES
RUNTYPE      ROOTFILE
